@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}
#loading-screen{
  height: 100vh;
  width: 100vw;
  background: url(footerbg.svg);
  background-size: cover;
  color: white;
  font-family: 'Pacifico',sans-serif;
  animation: loading 5s infinite ease;
  position: absolute;
  top:0;
  left:0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes loading{
  0%{
    font-size: 5vh;
    background-position: top;
  }
  50%{
    font-size: 10vh;
    background-position:center;
  }
  100%{
    font-size: 5vh;
    background-position: top;
  }
}
@media screen and (min-width:580px) {
  body {
    overflow-x: hidden;
    /* some additional overflow was casued due to addition of projects etc so we hidden it */
  }

  /* desktop css */
  #banner {
    height: fit-content;
    width: 100dvw;
    background: url("./blob-scene-haikei.svg");
    background-size: cover;
    display: grid;
    grid-template-columns: 75dvw 25dvw;
    align-items:end;
    justify-content:right;
    border-bottom: 1px solid white;
    border-bottom-left-radius: 5dvw;
    border-bottom-right-radius: 5dvw;
    overflow: hidden;
    animation: banneranim infinite 3s linear;
  }

  @keyframes banneranim {
    50% {
      background: url("./temp.svg");
      background-size: cover;
    }
  }
  #profileimgside{
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: right;
  }
  #profileimgside img {
    height: clamp(8cm,77dvh,77dvh);
  }

  /* banner text */
  #conwrapper {
    padding: 10dvw 5dvw 5dvw 10dvw;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: clamp(14px,1.5dvw,1.5dvw);
    font-weight: 900;
  }

  #conwrapper h1 {
    font-family: 'Pacifico', 'Montserrat', sans-serif;
    font-size: 3dvw;
  }

  /* projects */
  #projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    padding: 10dvh;
    overflow: hidden;
  }

  #projects header {
    font-family: 'Pacifico', sans-serif;
    font-size: 4vw;
    margin: 5dvh 0dvh 7dvh 0dvh;
  }

  #projects-container {
    display: flex;
    width: 95dvw;
    padding: 5dvw;
    font-family: 'Montserrat', sans-serif;
  }

  .card {
    height: 30dvw;
    width: 20dvw;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 1dvw 1dvw 1dvw rgb(183, 183, 183);
    font-size: 1.5dvw;
    padding: 3dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1dvw;
    position: relative;
    overflow: hidden;
  }

  /* shining animation */
  .card span {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: 1px solid white;
    animation: cardanim 3s ease-in-out infinite;
    translate: -3dvw 17dvw;

  }

  @keyframes cardanim {
    0% {
      width: 0dvw;
      height: 0dvw;
      box-shadow: 0 5px 100px rgba(0, 0, 0, 0.1);
    }

    100% {
      height: 90dvw;
      width: 30dvw;
      border-top-right-radius: 100dvw;
      box-shadow: 0 5px 100px rgba(0, 0, 0, 0.1);
    }
  }

  .card h1 {
    font-size: 2dvw;
  }

  .card button {
    height: 3dvw;
    width: 10dvw;
    border: none;
    outline: none;
    background: rgb(246, 246, 246);
    border: 1dvw solid rgb(246, 246, 246);
    border-radius: 0.1dvw;
    cursor: pointer;
  }

  .card:hover {
    transform: translate(0dvw, -5dvw);
    transition: transform 0.3s linear;
  }

  .card:hover~.card {
    transform: translateX(2dvw);
    transition: transform 0.3s linear;
  }

  /* socials */
  #socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100dvw;
    background: url("./footerbg.svg");
    background-size: cover;
    background-position: bottom;
    color: white;
    border-top: 1px solid white;
    border-top-left-radius: 100dvw;
    border-top-right-radius: 100dvw;
    animation: socialanim 5s linear infinite;
  }

  @keyframes socialanim {
    50% {
      background-position: center;
    }

    100% {
      background-position: top;
    }
  }

  #socials header {
    font-family: 'Pacifico', sans-serif;
    font-size: 4dvw;
  }

  #socials p {
    font-family: "Montserrat", serif;
    font-size: 2dvw;
    margin: 1dvw;
  }

  #icon img {
    height: 10vw;
    width: 10vw;
    background: white;
    border: 1dvw solid white;
    border-radius: 2dvw;
  }

  #socials-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    padding: 2dvw;
    width: 100dvw;
  }
}
/* android css */
@media screen and (max-width:580px) {
  #banner {
    height: fit-content;
    width: 100vw;
    background: url("./temp.svg");
    border-bottom: 1px solid white;
    border-bottom-left-radius: 50vw;
    border-bottom-right-radius: 50vw;
    overflow: hidden;
    animation: banneranimandr infinite 3s ease-out;
    background-repeat: no-repeat;
    position: relative;
    background-size:cover;
  }

  @keyframes banneranimandr {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }

  #profileimgside img {
    height: 65vh;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #conwrapper h1 {
    position: absolute;
    top: 5vh;
    left: 5vh;
    font-size:x-large;
    letter-spacing: 1px;
    line-height: 7vh;
    font-family: 'Pacifico';
    color: white;
  }

  #conwrapper p {
    font-family: 'Montserrat', serif;
    color: white;
    padding: 13vh 5vh 70vh 5vh;
    font-size: 2.5vh;
  }

  /* we will keep projects section at last */
  #socials {
    position: absolute;
    top: 150vh;
    background: url("./footerbg.svg");
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    animation: socialandranim 3s linear infinite;
    border: 1px solid white;
    border-radius: 10vh;
  }

  @keyframes socialandranim {
    100% {
      background-position: bottom;
    }
  }

  #socials header {
    font-size: 10vh;
    font-family: 'Pacifico', serif;
  }

  #socials-wrapper {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5vh;
  }

  #icon img {
    background: white;
    border: 1vh solid white;
    border-radius: 10vh;
    margin: 1vh;
  }

  /* projects */
  #projects {
    position: absolute;
    top: 200vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 10vh;
  }

  #projects header {
    font-family: 'Pacifico', sans-serif;
    font-size: 15vw;
    margin: 5vh 0vh 7vh 0vh;
  }

  #projects-container {
    display: flex;
    flex-direction: column;
    padding: 1vw;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-evenly;
  }

  .card {
    height: 80vh;
    width: 90vw;
    border: 1px solid rgb(232, 232, 232);
    box-shadow: 1vw 1vw 1vw rgb(183, 183, 183);
    font-size: 8vw;
    padding: 3vh;
    margin: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    position: relative;
  }

  /* shining animation */
  .card span {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    outline: none;
    border: 1px solid white;
    animation: cardanimandr 3s ease-in-out infinite;
    translate: -10vw 40vh;
  }

  @keyframes cardanimandr {
    0% {
      height: 0px;
      width: 0px;
      box-shadow: 0 5px 100px rgba(0, 0, 0, 0.1);
    }

    100% {
      height: 1200px;
      width: 1000px;
      border-top-right-radius: 1000px;
      box-shadow: 0 5px 100px rgba(0, 0, 0, 0.1);
    }
  }

  .card h1 {
    font-size: 10vw;
  }

  .card button {
    height: 5vh;
    width: 10vh;
    border: none;
    outline: none;
    background: rgb(246, 246, 246);
    border: 1vw solid rgb(246, 246, 246);
    border-radius: 0.1vw;
    cursor: pointer;
  }
}